@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans','Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: none;

}
:root {
    /* color */
    --color-main: #202536;
    --color-text: #606F92;
    --color-second:#FCB670;
    --color-white:#ffffff;
    --color-bg:linear-gradient(90deg, #F6F6FF 0%, #E8F9FF 100%);
    /* font */
    --font-title_page: 80px;
    --font-title: 24px;
    --font-second_title: 24px
    --font-text: 16px;
    --font-second_text: 20px;
}
.wrapper {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('https://assets.codepen.io/1462889/back-page.svg');
    background-position: center;
    /* background-repeat: ; */
    background-size: 101%;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    z-index: 1;
}

/* =============== */

.form__box {
    height: 400px;
    background-color: var(--color-white);
    box-shadow: 0 0 32px rgba(25, 0, 58, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.form h1{
    text-align: center;
    font-size: var(--font-title_page);
    color: var(--color-main);
    padding: 16px 0px;
}

/*  */

.footer { 
    height: 400px;
    background-color: var(--color-main);   
}