/* header */

header{
    max-width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-second_text);
}

.header__nav{
    display: flex;
    align-items: center;
}
.header__nav a{
    color: var(--color-main);
    text-decoration: none;
    margin-right: 50px;
    transition: all 0.3s;
    position: relative;
}
.nav__link:hover{
    color: var(--color-second);
}
.nav__button:hover{
    background-color: var(--color-main);
    color: var(--color-white);
    box-shadow: 0 6px 12px 0 var(--color-main);
}

.nav__button {
    font-weight: 500;
    font-size: var(--font-second_text);
    font-family: 'Open Sans','Roboto', sans-serif;;
    background-color: #20253600;
    border: 1px solid var(--color-main);
    border-radius: 20px;
    padding: 17px 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.header__burger-btn{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
    margin-top: 30px;
}
.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-main);
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}
.header.open .header__burger-btn span {
    background-color: white;
}
.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}
.header__logo {
    display: block;
}

.logo__img {
    width: 100px;
}
/* header */

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .right-side{
  max-width: 50%;
}
.home .right-side{
    max-width: 50%;
}
.home__title{
    font-size: var(--font-title_page);
    /* line-height:1,; */
}
.home__button {
    position: relative;
}
.home__button img{
    transform: rotate(120deg);

}
.home__button button{
    font-weight: 500;
    font-size: var(--font-second_text);
    font-family: 'Open Sans','Roboto', sans-serif;
    background-color: var(--color-second);
    border: none;
    border-radius: 20px;
    padding: 17px 30px;
    cursor: pointer;
    transition: all 0.3s;
}
.home__button button:hover{
    background-color: var(--color-main);
    color: var(--color-white);
    box-shadow: 0 6px 12px 0 var(--color-main);
}
.home .right-side{
  position: relative;
}
.home .right-side-dancer{
    max-width: 90%;
}
.home .right-side-dancer.root{
  max-width: 90%;
}
/* референсы  тут https://codepen.io/ig_design/pen/BajVZre*/
/* pop-up */
.home .right-side-btn{
    position: absolute;
    top: 410px;
    left: -20px;

}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
i {
  font-size: 50px;
  color: var(--color-white);
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  position: relative;
  width: 250px;
  height: 170px;
  transition: all 200ms linear;
  border-radius:70px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background:url(../img/IMG_5015.JPG), rgba(16,39,112,.25);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101%;
}
/* @keyframes animation__modal {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-20px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-5px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-3px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-2px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
} */
.modal-btn{
  
}
.modal-btn:not(:checked) + label:hover{
    box-shadow: 0 6px 12px 0 var(--color-main);
}

.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: var(--color-second);
  color: var(--color-main);
  content: '\0058'; 
  box-shadow: 0 12px 25px 0 rgba(16,39,112,.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: var(--color-main);
  color:var(--color-second);
}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}
.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: var(--color-second);
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrap iframe {
  display: block;
  width: 100%;
  max-height: 100%;
}
.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


@media screen and (max-width: 500px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
}