
@media (max-width: 992px) {
  .header__burger-btn {
      display: block;
  }
  .header__logo {
      display: none;
  }
  .header__nav {
      position: absolute;
      left: -200px;
      top: 0px ;
      width: 200px;
      background-color: var(--color-text);
      padding: 70px 0px 0px 40px;
      transition: transform .5s;
  }
  .nav__link{
      
  }
  .header__list {
      display: block;
  }
  .nav__link {
      color: var(--color-white);
      display: flex;
      align-items: center;
      padding: 10px 0;
  }
  .header.open .header__nav {
      transform: translateX(100%);
  }
}
@media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }